.title{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.4px;
    margin-right: 40px;
    color: rgb(230, 165, 135);
    padding-left: 30px;
}
span{
    padding: 10px;
    cursor: pointer;
}
.header
{
    background-color: gray;
    padding: 30px 0px;
}
span{
    color: rgb(12, 53, 92); 
}

          