select{
    width: 140px;
    height: 30px;
    font-size: 16px;
    margin: 20px;
    border: 2px solid rgb(23, 84, 165);
    border-radius: 5px;
}

.listfooter{
   background-color: rgb(211, 204, 204); 
   padding: 10px;
   width: max-content;
   margin: 10px;
}   
 
  
  