.classsec {
    /* background-image: url('/src/asset/pensil.jpg'); */
    height: 92.5vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.back {
    justify-content: right;
    display: flex;
    padding: 20px
}

.datasec {
    display: flex;
    flex-flow: row;
    /* justify-content: space-between; */
    max-width: 80vw;
    margin: 0 auto;
    height: 80vh;
    color: black;
    padding: 30px;
    /* background-color: #e7e7e9; */
    /* background-color: antiquewhite; */
    /* box-shadow: 0 3px 5px; */
    align-items: center;
    justify-content: center;
    font-size: 18px;
    gap: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.questionsec {
    overflow: scroll;
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
    gap: 5px;
    text-align: left;
    font-style: italic;
}

.answersec {
    background-color: #e7e7e9;
    /* height: 100%; */
    width: 30%;
    display: flex;
    flex-flow: column;
    box-shadow: 0 3px 5px;
    overflow: scroll;
}

.questionsec p {
    /* width: 100%; */
    box-shadow: 0 2px 3px;
    margin: 0;
    padding: 20px;
    font-size: 20px;
    margin: 10px;
    display: flex;
    justify-content: space-between;

}

.questionsec p:hover {
    transform: scale(0.99);
    background-color: #ceced4;
}


.questionsec p:active {
    background-color:#b3b4a9;
}

.answersec p{
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    text-align: left;
    box-sizing: border-box;
    margin-left: 30px;
    font-size: 20px;
}

.answersec p span{
    font-weight: 600;
    text-align: center;
}

.answersec p li{
  list-style-type: num;
  line-height: 1.5;
}


select{
    padding: 5px 10px;
    font-size: 16.5px;
    font-style: italic;
    margin-right: 10px;
}
button{
    padding: 8px;
    font-size: 16px;

}